#nav  {
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

#nav2 {
  box-shadow: none;
  border:none;
}

.footer-background  {
  padding: 20px;
  background-color: #292929;
  color: white;
}
